/* smartphone  */

@media (max-width: 667px) {


    .container {
        max-width: 90%;
    }

    header .container {
        display: block;
        text-align: center;
    }

    header ul {
        justify-content: space-between;
        max-width: 100%;
    }

    header ul li  {
        margin-top: 20px;
    }

    .container .left-zero {
        margin-left: 0;
    }

    .section-about {
        display: block;
    }

    .section-about h2 {
        font-family: 'Bungee';
        font-size: 15px;
    }

    .section-about img {
        width: 100%;
        margin-bottom: 10px;
    }  

    .products {
        display: block;
        margin-bottom: 10em;
    }

    .products article {
        width: 90%;
        margin-bottom: 40px;
    }

    .section-product h2 {
        font-family: 'Bungee';
        text-align: center;
        font-size: 15px;
        margin-top: -10px;
    }
}

/* ipads e tablets  */

@media screen and (min-width: 668px) and (max-width: 1023px){

    .container {
        max-width: 90%;
    }

    .section-about {
        display: block;
    }

    
    .section-about img {
        margin-bottom: 10px;
        width: 100%;
        margin-top: 20px;
    }
    
    .section-about h2 {
        margin-top: 20px;
        font-family: 'Bungee';
    }

    .section-product h2 {
        text-align: center;
        margin-top: 20px;
        font-family: 'Bungee';
    }

    .products article {
        width: 90%;
        align-items: center;
    }


    .products {
        display: grid;
        grid-template-columns: repeat(2, 42%);
        justify-content: center;
        text-align: center;
        margin-bottom: 80px;

    }

    .product button {
        margin-bottom: 40px;
    }

}

/* notebooks e desktops  */


@media screen and (min-width: 1024px) {
    .products {
        margin-bottom: 80px;
    }
}